@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'HS 2.1';
    src: url('../font/bombaram/HSBombaram21.eot');
    src: url('../font/bombaram/HSBombaram21.eot?#iefix') format('embedded-opentype'),
        url('../font/bombaram/HSBombaram21.woff2') format('woff2'),
        url('../font/bombaram/HSBombaram21.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/noto-sans/NotoSansKR-Medium.eot');
    src: url('NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Medium.woff2') format('woff2'),
        url('NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/noto-sans/NotoSansKR-Bold.eot');
    src: url('../font/noto-sans/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/noto-sans/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/noto-sans/NotoSansKR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/noto-sans/NotoSansKR-Regular.eot');
    src: url('../font/noto-sans/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/noto-sans/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/noto-sans/NotoSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Italianno';
    src: url('../font/Italianno/Italianno-Regular.eot');
    src: url('../font/Italianno/Italianno-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Italianno/Italianno-Regular.woff2') format('woff2'),
        url('../font/Italianno/Italianno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 1400px;
    width: calc(100% - 40px);
    font-family: 'Noto Sans KR';
    margin: 0 auto;
    background-color: #000;
    color: #D4AF37;
    position: relative;

}

.inner {
    margin-bottom: 260px;
}


.gold-dust {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    background: transparent;
}




.header {
    width: 100%;
    height: 136px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 100000;
}

.header .inner {}

.header .inner .header-nav {
    height: 100%;
    position: relative;
}

.header .inner .header-nav .logo-section {
    padding-top: 16px;
}

.header .inner .header-nav .logo-section h1.logo {
    width: 100%;
    height: 100%;
}

.header .inner .header-nav .logo-section h1.logo a {
    width: 127px;
    margin: 16px auto;
    display: block;
}

.header .inner .header-nav .logo-section h1.logo a img {
    width: 100%;
}


.header .inner .header-nav .logo-section .header-icon-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.header .inner .header-nav .header-icon-section button.menu-bar {}

.header .inner .header-nav .header-icon-section button.menu-bar img {}

.header .inner .header-nav .header-icon-section .nav {
    display: none;
}

.header .inner .header-nav .header-line {
    display: flex;
    align-items: center;
    gap: 24px;
    opacity: 60%;
    margin-bottom: 40px;
}

.header .inner .header-nav .dotted-line {
    width: 45%;
    height: 1px;
    border: 1px dashed #D4AF37;
}

.header .inner .header-nav .header-line p {
    font-family: 'HS 2.1';

}


/*  */


.main .main-visual {
    width: 100vw;
    margin-top: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .inner.search-section {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.main .inner.search-section strong {
    font-size: 36px;
    font-weight: 600;
}

.main .inner.search-section .search-bar {
    width: 490px;
    height: 60px;
    border: 1px solid #D4AF37;
    border-radius: 12px;
    padding-left: 16px;
    display: flex;
    gap: 18px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.main .inner.search-section .search-bar img {}

.main .inner.search-section input {
    background-color: transparent;
}

.main .inner.search-section input::placeholder {
    color: #D4AF37;
    opacity: 60%;
    font-size: 16px;
    font-weight: bold;

}

.main .inner.search-section a.location {
    display: block;

}


/* 메인비중ㄹ */
.identity {
    max-width: 1400px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.main-visual-image {
    width: 820px;
    margin-right: auto;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 120px;
}

.main-visual-image {
    width: 100%;
    object-fit: cover;

}

.box {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

}

.pinSection {
    height: 100%;
    width: 100%;
}

.pinSection .image {
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.pin-spacer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.event1 {
    background-color: #000000;
}

.event1 .image {

    top: 50%;
    background-image: url('../img/Frame87.jpg');
    background-repeat: no-repeat;
    background-position: center;

}

.event2 {
    background-color: #000000;
}

.event2 .image {
    width: 100%;
    background-image: url('../img/Frame88.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.event3 {
    background-color: #000000;
}

.event3 .image {
    background-image: url('../img/Frame89.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.event4 {
    background-color: #000000;
}

.event4 .image {
    background-image: url('../img/Frame90.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

/* story section */

.story {
    color: white;
}

.scroll-container-parent {
    position: relative;
    height: 700vh;
    width: 100%;
    overflow: hidden;
}

.sticky-heading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
    width: 100%;
    pointer-events: none;

    transition: opacity 0.3s ease;
    overflow: hidden !important;
}

h2.title {
    font-family: "HS 2.1";
    color: #D4AF37;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: 83px;
    margin-bottom: 60px;
}

h2.title .italic {
    font-family: 'Italianno';
    font-size: 96px;
}

.sub-title {
    font-size: 20px;
    color: #fff;
    font-family: 'Noto Sans KR';
    font-size: 24px;
}

.scroll-container {
    display: flex;
    position: fixed;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);

    width: 100%;
    gap: 32px;
    padding: 0 5%;
    box-sizing: border-box;
    transition: right 2s ease, transform 0.3s ease;
    z-index: 0;
    /* NEW: Added containment properties */
    contain: layout style;

    max-width: 100vw;
    will-change: transform;
}

.panel {
    flex: 0 0 auto;
    width: 399px;
    height: 520px;
    background-color: #000000;
    border-radius: 12px;
    border: 1px solid #D4AF37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 32px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    contain: layout paint;
    will-change: transform, opacity;
    color: #fff;
}

.panel .text>p {
    color: #515151;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
}

.panel img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.panel h2 {
    color: #fff;
  
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    padding-bottom: 20px;
    border-bottom: 4px solid #f89938;
    display: inline-block;
    width: max-content;
}

.panel>p {
    color: var(--Black, #0c0d13);
    font-family: "Bai Jamjuree";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: underline;
    text-transform: uppercase;
}
.panel .text 
.panel .name {}
.panel .where {}