@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'HS 2.1';
    src: url('../font/bombaram/HSBombaram21.eot');
    src: url('../font/bombaram/HSBombaram21.eot?#iefix') format('embedded-opentype'),
        url('../font/bombaram/HSBombaram21.woff2') format('woff2'),
        url('../font/bombaram/HSBombaram21.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/noto-sans/NotoSansKR-Medium.eot');
    src: url('NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Medium.woff2') format('woff2'),
        url('NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/noto-sans/NotoSansKR-Bold.eot');
    src: url('../font/noto-sans/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/noto-sans/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/noto-sans/NotoSansKR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/noto-sans/NotoSansKR-Regular.eot');
    src: url('../font/noto-sans/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/noto-sans/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/noto-sans/NotoSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Italianno';
    src: url('../font/Italianno/Italianno-Regular.eot');
    src: url('../font/Italianno/Italianno-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Italianno/Italianno-Regular.woff2') format('woff2'),
        url('../font/Italianno/Italianno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    color: #D4AF37;
    background-color: #000;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    text-align: center;
}

#wrap {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

section {
    margin-top: 160px;
}

.inner {
    max-width: 1200px;
    width: calc(100% - 40px);
}

.inner.main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h2.title {

    font-family: 'HS 2.1';
    font-size: 72px;
}

h2.title .italic {
    font-family: 'Italianno';
    font-size: 96px;
}

.sub-title {
    font-size: 32px;
    line-height: 2;
    color: #fff;
    opacity: 50%;
}

.list {
    display: flex;
    justify-content: space-between;

}

.list .item .image {
    width: 300px;
    height: 400px;
    border: 1px solid #D4AF37;
    border-radius: 12px;
    overflow: hidden;

}

.list .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.mobile {
    display: none;
}


.veiw-more {
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 12px;
    width: 200px;
    height: 60px;
    opacity: 60%;
    background-color: ;
}








.header .inner {
    height: 136px;
}

.header .inner .header-nav {
    height: 100%;
}

.header .inner .header-nav .logo-section {
    padding-top: 16px;
    position: relative;
}

.header .inner .header-nav .logo-section h1.logo {
    width: 100%;
    height: 100%;
}

.header .inner .header-nav .logo-section h1.logo a {
    width: 127px;
    margin: 16px auto;
    display: block;
}

.header .inner .header-nav .logo-section h1.logo a img {
    width: 100%;
}


.header .inner .header-nav .logo-section .header-icon-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.header .inner .header-nav .header-icon-section button.menu-bar {}

.header .inner .header-nav .header-icon-section button.menu-bar img {}

.header .inner .header-nav .header-icon-section .nav {
    display: none;
}

.header .inner .header-nav .header-icon-section .nav .gnb {}

.header .inner .header-nav .header-icon-section .nav .gnb {}

.header .inner .header-nav .header-icon-section .nav .gnb li {}

.header .inner .header-nav .header-icon-section .nav .gnb li a {}

.header .inner .header-nav .header-icon-section button.log-in {}

.header .inner .header-nav .header-icon-section button.log-in img {}

.header .inner .header-nav .header-icon-section button.like {}


.header .inner .header-nav .header-line {
    display: flex;
    align-items: center;
    gap: 24px;
    opacity: 60%;
}

.header .inner .header-nav .dotted-line {
    width: 482px;
    height: 1px;
    border: 1px dashed #D4AF37;
}

.header .inner .header-nav .header-line p {
    font-family: 'HS 2.1';

}

.main .main-visual {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .main-visual>img {
    width: 560px;
    object-fit: cover;
}

.main .inner.search-section {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.main .inner.search-section strong {
    font-size: 36px;
    font-weight: 600;
}

.main .inner.search-section .search-bar {
    width: 490px;
    height: 60px;
    border: 1px solid #D4AF37;
    border-radius: 12px;
    padding-left: 16px;
    display: flex;
    gap: 18px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.main .inner.search-section .search-bar img {}

.main .inner.search-section input {
    background-color: transparent;
}

.main .inner.search-section input::placeholder {
    color: #D4AF37;
    opacity: 60%;
    font-size: 16px;
    font-weight: bold;

}

.main .inner.search-section a.location {
    display: block;

}

.main .inner.search-section a.location img {}

.main .inner.search-section a.location span {}


.identity {
    font-size: 48px;
    line-height: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
    font-size: 2.4rem;
    font-family: 'HS 2.1';
    opacity: 60%;
}

.identity .inner {
    text-align: center;
}

.identity .line {

    white-space: nowrap;
}

.identity .inner p {}

.curation .inner {}

.curation .inner h2.title {}

.curation .inner p {}

.curation .inner .image-section {}

.curation .inner .image-section p.option {
    text-align: right;
    margin-bottom: 8px;
    color: #fff;
    opacity: 50%;
}

.curation .inner .image-section p.option img {}

.curation .inner .image-section {
    width: 977px;
    margin: 0 auto;
}

.curation .inner .image-section .list .item {
    position: relative;
}

.curation .inner .image-section .list .item .image {
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.curation .inner .image-section .list .item .image img {}

.curation .inner .image-section .list .item .text {
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.curation .inner .image-section .list .item .text .name {}

.curation .inner .image-section .list .item .text .where {}

.curation .inner .image-section .list .item .text .rate {}

.selection .inner .list .selection .inner .list .item .selection .inner .list .item .image .selection .inner .list .item .image img.logo {}

.selection .inner .list .item .image img.brand-name {}

.story {}

.story .list {
    overflow: hidden;
}

.story .list .item {}

.story .list .item .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.story .list .item .image .profile {
    padding: 24px;
    width: 144px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.story .list .item .image .profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.story .list .item .image .profile b.id {
    color: #fff;
}

.story .list .item .image .text {
    padding: 12px;
    width: 100%;
    height: 183px;
    list-style: none;
    text-align: left;
    border: 1px solid #D4AF37;
    border-radius: 12px;




}

.story .list .item .image .text .name {
    font-weight: bold;
    font-size: 18px;
}

.story .list .item .image .text .where {
    opacity: 60%;
    font-size: 14px;
}

.story .list .item .image .text .rate {
    margin-top: 8px;
    font-size: 12px;
}

.story .list .item .image .text .review {
    color: #fff;
    margin-top: 4px;
}